.cards-wrapper {
  padding: 0 5rem;
  margin-top: 10rem;
  margin-bottom: 8.75rem;
  padding-bottom: 10rem;
}
@media (max-width: 1280px) {
  .cards-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 480px) {
  .cards-wrapper {
    margin-top: 5.25rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
}
.cards {
  position: relative;
}
.cards__title {
  max-width: 45.5rem;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.1;
}
@media (max-width: 480px) {
  .cards__title {
    font-size: 2.5rem;
  }
}
.cards__title span {
  color: var(--color-red);
}
.cards__list {
  position: relative;
  z-index: 1;
  margin-top: 10rem;
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}
@media (max-width: 920px) {
  .cards__list {
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;
  }
}
.cards__item {
  padding: 2.5rem;
  border-radius: 2.5rem;
  color: white;
  flex: 1;
}
@media (max-width: 1440px) {
  .cards__item {
    padding: 1rem;
    border-radius: 1.5rem;
  }
}
.cards__item_1 {
  background-color: var(--color-red);
  margin-top: 33.75rem;
}
.cards__item_2 {
  background: radial-gradient(
      162.74% 549.74% at 157.24% 199.61%,
      #f32a8b 13.94%,
      #fd752b 50.91%,
      #e5063c 93.86%
    ),
    radial-gradient(
      117.85% 200.42% at 110.84% 96.02%,
      #ded9b5 6.14%,
      #fd752b 57.96%,
      #c61a02 100%
    ),
    radial-gradient(
      153.41% 157.2% at 116.26% 125.85%,
      #e5063c 6.14%,
      #fd752b 51.09%,
      #f32a8b 96.96%
    );
}
.cards__item_3 {
  color: var(--color-gray-800);
  background-color: #e6edf6;
  margin-top: 17.5rem;
}
.cards__item_4 {
  background: radial-gradient(
      248.74% 549.74% at 157.24% 199.61%,
      #f32a8b 13.94%,
      #fd752b 50.91%,
      #e5063c 93.86%
    ),
    radial-gradient(
      199.85% 200.42% at 110.84% 96.02%,
      #ded9b5 6.14%,
      #fd752b 57.96%,
      #c61a02 100%
    );
  margin-top: 57.5rem;
}

@media (max-width: 920px) {
  .cards__item_1,
  .cards__item_2,
  .cards__item_3,
  .cards__item_4 {
    margin-top: 1rem;
  }

  .cards__item_1 {
    margin-left: 5.75rem;
    order: 3;
  }
  .cards__item_2 {
    margin-left: 5.75rem;
    order: 1;
  }
  .cards__item_3 {
    margin-right: 5.75rem;
    order: 2;
  }
  .cards__item_4 {
    margin-right: 5.75rem;
    order: 4;
  }
}
.cards__item-title {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1;
}
@media (max-width: 1440px) {
  .cards__item-title {
    font-size: 1.5rem;
  }
}
.cards__item-text {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 0.75rem;
  font-weight: 600;
}
@media (max-width: 1440px) {
  .cards__item-text {
    font-size: 1.125rem;
  }
}

.cards__item-sup {
  font-size: 1.125rem;
  margin-top: 1rem;
}
@media (max-width: 1440px) {
  .cards__item-sup {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.2;
  }
}
.cards__item-button {
  cursor: pointer;
  margin-top: 2.5rem;
  border: none;
  padding: 1.375rem 2.75rem;
  border-radius: 2.5rem;
  background-color: white;
  font-size: 1.25rem;
  line-height: 1;
  color: var(--color-red);
  transition: transform 0.3s ease;
}
@media (max-width: 1440px) {
  .cards__item-button {
    margin-top: 1rem;
    width: 100%;
  }
}
.cards__item-button:hover {
  transform: scale(1.05);
}
.cards__item-button:active {
  transform: scale(0.98);
}

.cards__item-img {
  margin-top: 1.5rem;
}

.cards__bg {
  position: absolute;
  left: 25%;
  top: 52%;
}
@media (max-width: 1440px) {
  .cards__bg {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1280px) {
  .cards__bg {
    position: absolute;
  }
  .cards__bg img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .cards__bg {
    position: absolute;
    left: 0;
    transform: translateX(0);
    bottom: auto;
    top: 50%;
  }
}
