.examples {
  padding: 0 5rem;
  margin-top: 10rem;
}

@media (max-width: 1280px) {
  .examples {
    padding: 0 1rem;
  }
}
@media (max-width: 768px) {
  .examples {
    margin-top: 4rem;
  }
}
.examples__head {
  position: relative;
  z-index: 1;
}
.examples__head-title {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 0;
  color: black;
}
.examples__head-text {
  margin: 0;
  margin-top: 0.75rem;
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--color-red);
  max-width: 55rem;
}
@media (max-width: 860px) {
  .examples__head-title {
    font-size: 1.75rem;
  }
  .examples__head-text {
    font-size: 1.25rem;
  }
}
.examples__body {
  display: flex;
  overflow: hidden;
  position: relative;
  padding: 2.5rem;
  border-radius: 2.5rem;
  gap: 3.75rem;
  background-color: #f4f6f9;
  margin-top: 2.5rem;
}

.examples__content-img {
  object-fit: cover;
  width: 100%;
  border-radius: 0.75rem;
}

@media (max-width: 1280px) {
  .examples__body {
    padding: 1rem;
    gap: 1.5rem;
  }
}
@media (max-width: 860px) {
  .examples__body {
    flex-direction: column;
    padding-top: 1.5rem;
    border-radius: 1.5rem;
  }
  .examples__content-img {
    display: block;
    margin: 0 auto;
    max-width: 24.0625rem;
  }
}

@media (max-width: 480px) {
  .examples__content-img {
    width: 100%;
    height: auto;
  }
}

.examples__body-decorate {
  pointer-events: none;
  position: absolute;
  top: -80%;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(80px);
}
@media (max-width: 860px) {
  .examples__body-decorate {
    top: -50rem;
    height: 54.5rem;
  }
}
.examples__player {
  position: relative;
  flex: 1;
}
.examples__player-head {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}
.examples__player-preview img {
  display: block;
  object-fit: cover;
  border-radius: 1rem;
}
@media (max-width: 860px) {
  .examples__player-preview-img {
    width: 5rem;
    height: 5rem;
  }
}
.examples__player-info {
  color: var(--color-gray-800);
}
.examples__player-title {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
}
@media (max-width: 860px) {
  .examples__player-title {
    font-size: 1.75rem;
  }
}
.examples__player-name {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
}
@media (max-width: 860px) {
  .examples__player-name {
    font-size: 1.125rem;
  }
}
.examples__player-timer {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.examples__player-timer-bar {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.examples__player-timer-button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  overflow: hidden;
}
@media (max-width: 860px) {
  .examples__player-timer-button {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.examples__player-timer-button-icon {
  display: none;
}
.examples__player-timer-button-icon._show {
  display: block;
}
.examples__player-prev {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}
.examples__player-prev img {
  display: block;
}
.examples__player-timer-progress {
  position: relative;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
  height: 0.5rem;
  border-radius: 2rem;
}
.examples__player-timer-progress-line {
  position: absolute;
  background-color: var(--color-red);
  height: 100%;
  border-radius: 2.5rem;
}
.examples__player-next {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}
.examples__player-next img {
  display: block;
}
.examples__player-sub-title {
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 2.25rem;
}
@media (max-width: 860px) {
  .examples__player-sub-title {
    margin-top: 1rem;
  }
}
.examples__player-composition-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  max-height: 17.75rem;
  overflow-y: auto;
}
.examples__player-composition-item {
  display: flex;
  align-items: center;
}
.examples__player-composition-item + .examples__player-composition-item {
  margin-top: 1.5rem;
}
.examples__player-composition-inner {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.examples__player-composition-cover {
  position: relative;
}
.examples__player-composition-cover-img {
  display: block;
}
.examples__player-composition-cover-img {
  border-radius: 0.375rem;
}
.examples__player-composition-cover-button {
  position: absolute;
  inset: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.examples__player-composition-cover-button-icon {
  width: 2rem;
  height: 2rem;
  display: none;
}
.examples__player-composition-cover-button-icon._show {
  display: block;
}

.examples__player-composition-content {
}
.examples__player-composition-title {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 600;
}
.examples__player-composition-name {
  font-weight: 500;
  line-height: 1.2;
  color: rgba(43, 43, 45, 0.6);
  margin-top: 0.375rem;
}
.examples__player-composition-time {
  margin-left: auto;
  color: rgba(43, 43, 45, 0.6);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: underline;
}
.examples__content {
  position: relative;
  z-index: 1;
  flex: 1;
  padding: 2.5rem;
  background-color: white;
  border-radius: 1rem;
}
@media (max-width: 1280px) {
  .examples__content {
    padding: 1rem;
  }
}
.examples__content-inner {
  display: flex;
  gap: 1.25rem;
  margin-top: 2rem;
}
@media (max-width: 1280px) {
  .examples__content-inner {
    flex-direction: column;
    gap: 0.5rem;
  }
}
.examples__content-title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  margin: 0;
}

.examples__content-text {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0;
}

@media (max-width: 860px) {
  .examples__content-text {
    margin-top: 1rem;
  }
}

.examples__content-more {
  color: var(--color-red);
  text-decoration: underline;
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  margin-top: 1.25rem;
  cursor: pointer;
  display: none;
}
.examples__content-more._show {
  display: block;
}

@media (max-width: 1280px) {
  .examples__content-text {
    display: none;
  }

  .examples__content-text._show {
    display: block;
  }

  .examples__content-more {
    display: block;
    margin-top: 0;
  }
}
.examples__content-picture {
  flex: 1;
}
.examples__content-body {
  flex: 1;
}

.examples__content-more:hover {
  text-decoration: none;
}
.examples__content-date {
  text-align: right;
  margin-top: 2rem;
  color: rgba(43, 43, 45, 0.6);
  line-height: 1.2;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .examples__content-date {
    display: none;
  }
}
.examples__content-body {
  position: relative;
}
.examples__content-body::before {
  content: "";
  position: absolute;
  bottom: 5rem;
  right: 0;
  background-image: url("/public/images/icons/quote.svg");
  width: 7.5625rem;
  height: 5.8125rem;
}
@media (max-width: 1280px) {
  .examples__content-body::before {
    content: none;
  }
}

.examples__player-button {
  display: inline-flex;
  align-items: center;
  margin-top: 1.5rem;
}
@media (max-width: 480px) {
  .examples__player-button {
    width: 100%;
    justify-content: center;
    gap: 1rem;
  }
}
