.page-footer {
  position: relative;
  margin-top: 30rem;
}

@media (max-width: 1280px) {
  .page-footer {
    margin-top: 15rem;
  }
}

@media (max-width: 620px) {
  .page-footer {
    margin-top: 10rem;
  }
}
.page-footer::before {
  position: absolute;
  width: 150%;
  height: 100%;
  left: -25%;
  top: -10%;
  z-index: -2;
  content: "";
  background: radial-gradient(
    97.44% 297.27% at 90.71% 85.72%,
    #e5063c 6.14%,
    #fd752b 51.09%,
    #f32a8b 86.06%
  );
  filter: blur(10rem);
}
@media (max-width: 1280px) {
  .page-footer::before {
    width: 200%;
    height: 100%;
    left: -40%;
    top: 0;
  }
}
.page-footer::after {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
  z-index: -3;
  content: "";
  background: radial-gradient(
    97.44% 297.27% at 90.71% 85.72%,
    #e5063c 6.14%,
    #fd752b 51.09%,
    #f32a8b 86.06%
  );
}

@media (max-width: 620px) {
  .page-footer::after {
    position: absolute;
    width: 200%;
    height: 100%;
    left: -50%;
    bottom: -50%;
    z-index: -3;
    content: "";
    background: radial-gradient(
      97.44% 297.27% at 90.71% 85.72%,
      #e5063c 6.14%,
      #fd752b 51.09%,
      #f32a8b 86.06%
    );
    filter: blur(3rem);
  }
}

.page-footer__items {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
  padding-top: 20rem;
  padding-bottom: 5rem;
}
@media (max-width: 1280px) {
  .page-footer__items {
    padding: 0 1rem;
    padding-top: 20rem;
    padding-bottom: 5rem;
  }
}
@media (max-width: 1024px) {
  .page-footer__items {
    flex-wrap: wrap;
  }
}

@media (max-width: 620px) {
  .page-footer__items {
    padding-top: 10rem;
    flex-direction: column;
    text-align: center;
  }
}

.page-footer__item {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .page-footer__item {
    flex: 50%;
  }
}
@media (max-width: 620px) {
  .page-footer__item + .page-footer__item {
    margin-top: 1rem;
  }
  .page-footer__item:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
    flex-wrap: wrap;
  }
  .page-footer__item:last-child .page-footer__text + .page-footer__text {
    margin-top: 0;
  }
}
.page-footer__link {
  text-decoration: underline;
  color: white;
}
.page-footer__link:hover {
  text-decoration: none;
}
.page-footer__text {
}
.page-footer__text + .page-footer__text {
  margin-top: 1rem;
}
.page-footer__logo {
  position: relative;
  z-index: 1;
}
.page-footer__logo img {
  width: 100%;
  max-width: 100%;
}
.page-footer__lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-footer__under {
  padding: 0 5rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  padding-bottom: 2rem;
}
@media (max-width: 1280px) {
  .page-footer__under {
    padding: 0 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 620px) {
  .page-footer__under {
    text-align: center;
  }
}
