.page-footer {
  position: relative;
  margin-top: 30rem;
}

.page-footer::before {
  position: absolute;
  width: 150%;
  height: 100%;
  left: -25%;
  top: -10%;
  z-index: -2;
  content: "";
  background: radial-gradient(
    97.44% 297.27% at 90.71% 85.72%,
    #e5063c 6.14%,
    #fd752b 51.09%,
    #f32a8b 86.06%
  );

  filter: blur(10rem);
}
.page-footer::after {
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0;
  bottom: 0;
  z-index: -3;
  content: "";
  background: radial-gradient(
    97.44% 297.27% at 90.71% 85.72%,
    #e5063c 6.14%,
    #fd752b 51.09%,
    #f32a8b 86.06%
  );
}

.page-footer__items {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5rem;
  padding-top: 20rem;
  padding-bottom: 5rem;
}
.page-footer__item {
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}
.page-footer__link {
  text-decoration: underline;
  color: white;
}
.page-footer__link:hover {
  text-decoration: none;
}
.page-footer__text {
}
.page-footer__text + .page-footer__text {
  margin-top: 1rem;
}
.page-footer__logo {
  position: relative;
  z-index: 1;
}
.page-footer__lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.page-footer__under {
  padding: 0 5rem;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  padding-bottom: 2rem;
}
