.gradient-block {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 90vh;
  color: white;
  padding: 0 5rem;
  margin-top: -9%;
}
@media (max-width: 768px) {
  .gradient-block {
    padding: 0 1rem;
    margin-top: -40%;
  }
}
@media (max-width: 480px) {
  .gradient-block {
    margin-top: -60%;
  }
}
.gradient-block::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 75rem;
  top: -25%;
  left: 0;
  background-image: url("../images/gradient/gradient-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-block__title {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 5rem;
  margin: 0;
  letter-spacing: -0.2188rem;
}

@media (max-width: 768px) {
  .gradient-block__title {
    font-size: 2.25rem;
  }
}
.gradient-block__title_decorate {
  text-decoration: underline;
  font-weight: 900;
}
