.gradient-block {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 53.75rem;
  color: white;
  padding: 0 5rem;
  margin-top: -16%;
}
@media (max-width: 1280px) {
  .gradient-block {
    padding: 0 1rem;
  }
}
@media (max-width: 1024px) {
  .gradient-block {
    margin-top: -25%;
    min-height: 37.5rem;
  }
}
@media (max-width: 768px) {
  .gradient-block {
    margin-top: -40%;
  }
}
@media (max-width: 480px) {
  .gradient-block {
    margin-top: -60%;
    min-height: 37.5rem;
  }
}
.gradient-block::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 70%;
  top: 12%;
  left: -50%;
  background: radial-gradient(
    97.44% 297.27% at 90.71% 85.72%,
    #e5063c 6.14%,
    #fd752b 51.09%,
    #f32a8b 86.06%
  );
  filter: blur(5rem);
}

@media (max-width: 1440px) {
  .gradient-block::before {
    top: 0;
    height: 80%;
  }
}
@media (max-width: 1024px) {
  .gradient-block::before {
    height: 80%;
    top: -5%;
  }
}

@media (max-width: 480px) {
  .gradient-block::before {
    top: 12%;
    filter: blur(3rem);
  }
}
.gradient-block__title {
  position: relative;
  z-index: 2;
  font-weight: 600;
  font-size: 5rem;
  margin: 0;
}

@media (max-width: 1024px) {
  .gradient-block__title {
    font-size: 2.25rem;
  }
}

@media (max-width: 480px) {
  .gradient-block__title {
    line-height: 1.1;
  }
}

.gradient-block__title_decorate {
  text-decoration: underline;
  font-weight: 900;
}
