.header {
  padding: 1.125rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1600px) {
  .header {
    padding: 1rem;
  }
  .header__logo img {
    max-width: 8.75rem;
  }
}
@media (max-width: 480px) {
  .header__logo img {
    max-width: 11.875rem;
    height: auto;
    display: block;
  }
}
.header__nav {
  margin-left: auto;
}
@media (max-width: 1260px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header__list-item:not(:last-child) {
  margin-right: 2.5rem;
}
@media (max-width: 1829px) {
  .header__list-item:not(:last-child) {
    margin-right: 1rem;
  }
}
.header__list-link:hover {
  color: var(--color-red);
}
.header__list-link {
  font-weight: 500;
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
  line-height: 1.2;
  padding: 1rem 0;
  transition: color 0.3s ease;
}
@media (max-width: 1440px) {
  .header__list-link {
    font-size: 1rem;
  }
}
.header__info {
  text-align: right;
  margin-left: auto;
}
@media (max-width: 660px) {
  .header__info {
    display: none;
  }
}
.header__info-phone {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
.header__info-phone:hover {
  color: var(--color-red);
}
.header__time-to-work {
  display: block;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--color-gray);
}
.header__items {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
}
.header__item:not(:last-child) {
  margin-right: 0.5rem;
}
.header__item-link {
  display: block;
  transition: transform 0.2s ease;
}
.header__item-link:hover {
  transform: scale(1.05);
}
.header__item-link:active {
  transform: scale(0.98);
}
@media (max-width: 480px) {
  .header__item-link img {
    max-width: 2.5rem;
    display: block;
  }
}
@media (max-width: 660px) {
  .header__item_button {
    display: none;
  }
}

/* Sticky */

.header-sticky {
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(1000%);
  bottom: 2rem;
  z-index: 21;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 0.3s ease;
}
@media (max-width: 1024px) {
  .header-sticky {
    display: none;
  }
}
.header-sticky._show {
  transform: translateX(-50%) translateY(0);
}

.header-sticky__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: rgba(235, 230, 217, 0.2);
  backdrop-filter: blur(1.5rem);
  border-radius: 2.5rem;
  padding: 0.25rem;
}

.header-sticky__item-link {
  display: block;
  padding: 0.875rem 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  line-height: 1.2;
  transition: color 0.3s ease;
  border-radius: 3.25rem;
}

@media (max-width: 1280px) {
  .header-sticky__item-link {
    padding: 1rem;
  }
}

.header-sticky__item-link._active {
  background-color: rgb(255, 255, 255, 0.1);
  color: var(--color-red);
}

.mobile-sticky {
  display: none;
  position: fixed;
  z-index: 21;
  bottom: 1rem;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .mobile-sticky {
    display: flex;
  }
}

.mobile-sticky__left {
  flex: 1;
  border: none;
  background-color: #f4f6f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 2.5rem;
  font-weight: 500;
  line-height: 1;
  font-size: 1rem;
  color: #2b2b2d;
}

.mobile-sticky__lines {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-sticky__line {
  position: absolute;
  width: 1.25rem;
  height: 0.125rem;
  background-color: black;
}
.mobile-sticky__line:first-child {
  left: 0.125rem;
  top: 0.4375rem;
  transition: transform 0.3s ease;
}
.mobile-sticky__line:last-child {
  left: 0.125rem;
  top: 1rem;
  transition: transform 0.3s ease;
}

.mobile-sticky__right {
  position: relative;
  z-index: 22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  flex-shrink: 0;
  border: none;
  background-color: transparent;
  padding: 0.375rem 1rem;
  font-size: 1rem;
}

.mobile-menu {
  position: fixed;
  display: none;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.mobile-menu.active {
  pointer-events: auto;
}

@media (max-width: 1024px) {
  .mobile-menu {
    display: flex;
  }
}

.mobile-menu__decorate {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.mobile-menu__content {
  -webkit-overflow-scrolling: touch;
  margin-top: auto;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: transform 0.35s cubic-bezier(0.55, 0.06, 0.68, 0.19),
    opacity 0.35s;
  transform: translateY(100%);
  opacity: 0;
  will-change: transform, opacity;
  overflow: auto;
  overscroll-behavior: contain;
  touch-action: pan-y;
  -webkit-overflow-scrolling: touch;
}

.mobile-menu__content.active {
  transform: translateY(0);
  opacity: 1;
}
.mobile-menu__content.hide {
  transform: translateY(100%);
  opacity: 0;
}

.mobile-menu__decorate {
  transition: opacity 0.35s;
  opacity: 0;
}
.mobile-menu__decorate.active {
  opacity: 1;
}
.mobile-menu__decorate.hide {
  opacity: 0;
}

.mobile-menu__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.mobile-menu__item {
}
.mobile-menu__item + .mobile-menu__item {
  margin-top: 24px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #2b2b2d;
  font-size: 1.75rem;
  font-weight: 600;
}
.mobile-menu__box {
  background-color: #f4f6f9;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.375rem;
}
.mobile-menu__box-content {
}
.mobile-menu__box-tel {
  font-size: 1.125rem;
  color: var(--color-red);
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
}
.mobile-menu__date {
  display: block;
  color: #a1a1a1;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
}
.mobile-menu__box-socials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.mobile-menu__box-social {
}
