.hero {
  position: relative;
  background-color: #0e1109;
  color: white;
  min-height: 62.5rem;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .hero {
    min-height: 56.25rem;
    align-items: flex-start;
  }
}
.hero__content {
  position: relative;
  z-index: 1;
  max-width: 72.6875rem;
  padding: 0 5rem;
}
@media (max-width: 1280px) {
  .hero__content {
    padding: 0 1rem;
  }
}
.hero__title {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -0.05em;
  margin: 0;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 2.5rem;
    margin-top: 5rem;
  }
}
.hero__title span {
  background: radial-gradient(
    137.32% 418.97% at 120.77% 100%,
    #e5063c 6.14%,
    #fd752b 51.09%,
    #f32a8b 96.96%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__text {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .hero__text {
    font-size: 1.25rem;
  }
}
.hero__buttons {
  margin-top: 4rem;
}
@media (max-width: 768px) {
  .hero__buttons {
    margin-top: 2rem;
  }
}
.hero__button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.hero__video {
  position: absolute;
  inset: 0;
}
.hero__video::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 0.5;
}
.hero__video::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    radial-gradient(
      45% 75% at 107.66% 0%,
      #c61a02 1%,
      rgba(253, 117, 43, 0.8) 39.56%,
      rgba(222, 217, 181, 0) 88.54%
    );
}
.hero__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
