.points {
  padding: 0 5rem;
  margin-top: 10rem;
}
@media (max-width: 1280px) {
  .points {
    padding: 0 1rem;
  }
}
@media (max-width: 920px) {
  .points {
    margin-top: 5rem;
  }
}
.points__items {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
@media (max-width: 920px) {
  .points__items {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .points__item {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
}
.points__icon {
  padding: 1.5rem;
  background-color: #f4f6f9;
  border-radius: 1.5rem;
  max-width: 7.5rem;
}
@media (max-width: 480px) {
  .points__icon {
    padding: 0.75rem;
    border-radius: 1rem;
  }
}
.points__icon img {
  display: block;
}
@media (max-width: 480px) {
  .points__icon img {
    max-width: 2.25rem;
  }
}
.points__title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  margin-top: 1.625rem;
}
@media (max-width: 768px) {
  .points__title {
    margin-top: 0;
    font-size: 1.25rem;
  }
}
.points__text {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 0;
  margin-top: 1rem;
}

@media (max-width: 480px) {
  .points__text {
    font-size: 1rem;
    margin-top: 0.375rem;
  }
}
