.reviews {
  padding: 0 5rem;
  margin-top: 11.25rem;
}
@media (max-width: 1280px) {
  .reviews {
    padding: 0 1rem;
  }
}
@media (max-width: 1024px) {
  .reviews {
    margin-top: 5rem;
  }
}
.reviews__wrapper {
  position: relative;
}
@media (max-width: 1024px) {
  .reviews__wrapper {
    display: none;
  }
}
.reviews__head {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .reviews__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
.reviews__head-content {
  max-width: 68.375rem;
}
.reviews__head-title {
  font-size: 3.5rem;
}
@media (max-width: 1024px) {
  .reviews__head-title {
    font-size: 1.75rem;
  }
}
.reviews__head-text {
  font-size: 2.25rem;
  color: var(--color-red);
  margin-top: 0.75rem;
}
@media (max-width: 1024px) {
  .reviews__head-text {
    font-size: 1.25rem;
  }
}
.reviews__head-review img {
  max-width: 100%;
}

.reviews__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8.75rem;
  padding-bottom: 2.875rem;
}
.reviews__cover {
  background-color: white;
  border-radius: 2.5rem;
  box-shadow: 0px 4px 165px 0px rgba(236, 37, 31, 0.2);
  padding: 1.5rem;
  display: flex;
}
.reviews__cover img {
  max-width: 100%;
}

@media (max-width: 1440px) {
  .reviews__cover {
    max-width: 25.625rem;
  }
}

.reviews__under {
  margin-top: 3rem;
  max-width: 30.8125rem;
  width: 100%;
}
.reviews__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reviews__review {
  position: absolute;
  max-width: 9rem;
  animation: jump 2s ease infinite;
}

.reviews__review_1 {
  top: 18%;
  left: 1%;
  animation-delay: 0.5s;
}
.reviews__review_2 {
  top: 21%;
  left: 22%;
  animation-delay: 1s;
}
.reviews__review_3 {
  top: 45%;
  left: 12%;
  animation-delay: 1.5s;
}
.reviews__review_4 {
  bottom: 13%;
  left: 1%;
  animation-delay: 2s;
}
.reviews__review_5 {
  bottom: 10%;
  left: 22%;
  animation-delay: 2s;
}
.reviews__review_6 {
  top: 18%;
  right: 1%;
  animation-delay: 0.5s;
}
.reviews__review_7 {
  top: 21%;
  right: 22%;
  animation-delay: 1s;
}
.reviews__review_8 {
  top: 50%;
  right: 12%;
  animation-delay: 1.5s;
}
.reviews__review_9 {
  bottom: 13%;
  right: 1%;
  animation-delay: 2s;
}
.reviews__review_10 {
  bottom: 10%;
  right: 22%;
  animation-delay: 2s;
}

@media (max-width: 1770px) {
  .reviews__review_1 {
    top: 18%;
    left: 1%;
  }
  .reviews__review_2 {
    top: 21%;
    left: 14%;
  }
  .reviews__review_3 {
    top: 45%;
    left: 4%;
  }
  .reviews__review_4 {
    bottom: 13%;
    left: 1%;
  }
  .reviews__review_5 {
    bottom: 22%;
    left: 15%;
  }
  .reviews__review_6 {
    top: 18%;
    right: 1%;
  }
  .reviews__review_7 {
    top: 21%;
    right: 12%;
  }
  .reviews__review_8 {
    top: 50%;
    right: 4%;
  }
  .reviews__review_9 {
    bottom: 13%;
    right: 1%;
  }
  .reviews__review_10 {
    bottom: 21%;
    right: 15%;
  }
}

@media (max-width: 1440px) {
  .reviews__review {
    max-width: 7rem;
  }
}

.reviews__review:hover .reviews__review-link {
  transform: scale(1.5);
}
.reviews__review-link img {
  max-width: 100%;
}
.reviews__review:hover .reviews__review-link::after,
.reviews__review:hover .reviews__review-link::before {
  opacity: 1;
}
.reviews__review img {
  max-width: 100%;
}

.reviews__review-link {
  display: block;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0px 4px 165px 0px rgba(244, 101, 36, 0.3);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.reviews__review-link::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(254, 215, 170, 0.7);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.reviews__review-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 1;
  background-image: url("/public/images/icons/search.svg");
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@keyframes jump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.reviews__mobile {
  overflow: hidden;
}

.reviews__slider {
  position: relative;
  padding-bottom: 2.5rem;
  display: none;
}
@media (max-width: 1024px) {
  .reviews__slider {
    display: block;
    margin-top: 2.5rem;
  }
}
.reviews__slider .swiper-slide {
  max-width: 25.625rem;
}
.reviews__slider .swiper-slide.swiper-slide-active {
  z-index: 1;
}
.reviews__slider .swiper-slide:not(:last-child) {
  padding-right: 1.25rem;
}
.reviews__slider-pagination {
  position: absolute;
  bottom: 0;
}
@media (max-width: 1024px) {
  .reviews__slider-pagination {
    display: flex;
    justify-content: center;
  }
  .reviews__slider-pagination .swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2.5rem;
    transition: width 0.3s ease-in-out 0s, background-color 0.3s ease-in-out 0s;
  }
  .reviews__slider-pagination .swiper-pagination-bullet-active {
    width: 2rem;
    background-color: var(--color-red);
  }
}
