.steps {
  padding: 0 5rem;
  margin-top: 10rem;
}
@media (max-width: 1280px) {
  .steps {
    padding: 0 1rem;
  }
}

@media (max-width: 860px) {
  .steps {
    margin-top: 5rem;
  }
}

.steps__step-button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  overflow: hidden;
}
@media (max-width: 860px) {
  .steps__step-button {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.steps__step-button-icon {
  display: none;
}
.steps__step-button-icon._show {
  display: block;
}

.steps__title {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-gray-800);
  margin: 0;
}
@media (max-width: 860px) {
  .steps__title {
    font-size: 1.75rem;
  }
}
.steps__text {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-red);
  max-width: 45rem;
}
@media (max-width: 860px) {
  .steps__text {
    font-size: 1.25rem;
  }
}
.steps__body {
  max-width: 43.75rem;
}
.steps__step {
  position: relative;
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.4s ease, transform 0.4s ease, color 0.3s ease;
}

@media (max-width: 860px) {
  .steps__step {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
.steps__step--hidden {
  opacity: 0;
  transform: translateY(20px);
}

.steps__step._active .steps__step-title {
  color: var(--color-red);
}
.steps__step._active::before {
  background-color: var(--color-red);
}

.steps__step + .steps__step {
  margin-top: 0.5rem;
}
.steps__step::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.25rem;
  height: 100%;
  background-color: rgba(43, 43, 45, 0.5);
  border-radius: 2.5rem;
  transition: background-color 0.3s ease;
}

.steps__step-title {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 700;
  transition: color 0.3s ease;
  color: #2b2b2d;
}
@media (max-width: 860px) {
  .steps__step-title {
    font-size: 1.75rem;
  }
}
.steps__step-text {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 500;
  margin: 0;
  margin-top: 1rem;
}
@media (max-width: 860px) {
  .steps__step-text {
    font-size: 1rem;
  }
}
.steps__step-prompt {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 1.5rem;
  color: rgba(43, 43, 45, 0.6);
}
@media (max-width: 860px) {
  .steps__step-prompt {
    font-size: 1rem;
  }
}
.steps__step-music {
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.steps__step-music-step-1 {
  width: 340px;
  height: 60px;
  background-color: transparent;
  border: none;
}

.steps__step-music-step-2 {
  width: 340px;
  height: 60px;
  background-color: transparent;
  border: none;
}

@media (max-width: 480px) {
  .steps__step-music-step-1,
  .steps__step-music-step-2 {
    width: 13.75rem;
  }
}

.stepst__wrapper {
  position: relative;
}
.steps__images {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}
@media (max-width: 920px) {
  .steps__images {
    display: none;
  }
}
.steps__image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.steps__image img {
  width: 100%;
}

.steps__image._active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 480px) {
  .steps__step-content {
    transition: max-height 0.3s ease;
  }
}
