@import url("./global.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./gradient-block.css");
@import url("./examples.css");
@import url("./steps.css");
@import url("./points.css");
@import url("./main-slider.css");
